@import url('https://fonts.googleapis.com/css?family=Riley');
@import url('https://fonts.googleapis.com/css?family=Oswald');


html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100;
  font-size: 16px;
}

body {
  text-align: center;
}

nav {
  position: fixed;
  width: 100%;

}

nav ul {
  list-style: none;
  padding: 0;
  background: #444;
}

nav ul li a {
  color: #ddd;
  text-decoration: none;
  font-family: 'Space Mono', sans-serif;
  text-transform: uppercase;
  padding: .8rem 1rem;
  display: block;
  line-height: 1;
}

nav ul li {
  border-bottom: 1px dotted #ddd;
}

/* style logo */

nav div:first-child {
  background: #222;
}

nav div:first-child h1 {
  line-height: 0;
  padding: .8rem 0rem;
  text-align: center;
}

nav div:first-child h1, nav ul {
  margin:0;
}

/* style for larger devices */

@media only screen and (min-width:35em) {
  nav {
      display: flex;
      justify-content: space-between;
      background: #222;
      align-items: center;
  }
  nav ul {
      display: flex;
      align-items: center;
      background: none;
      flex-wrap: wrap;
  }
  nav div:first-child h1 {
    padding: 0;
    margin: 0 1rem;
  }
  nav ul li {
      border-bottom: none;
      flex: 1 0 auto;
      position: relative;
  }
  nav ul li a {
      padding: 1.2rem 1rem;
  }
  nav ul li a::before, nav ul li
  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background: yellow;
    transition: .2s width ease-in-out;
  }

  nav ul li a::before {
    left: 0;
  }

  nav ul li a:hover::after, nav ul li
  a:hover::before {
      width: 50%;
  }
}

.maxProfBanner {
  height: 20%;
  width: 100%;
  margin: auto;
  background-color: lightgrey;
  display: table;
  top: 0;
  background-size: cover;
}

.maxProfBanner h3 {
  color: black;
  font-family: 'Space Mono', sans-serif;
  font-size: 250%;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.icons {
  left: 0px;
  padding: 20px 70px 10px 70px;
}

.caption {
  padding: 10px 70px 10px 70px;
  font-family: 'Space Mono', sans-serif;
  font-size: 80%;
  display: inline-block;
  color: #3771C8;
}

.aboutDescription {
  width: 80%;
  margin: 0 auto;
}

.aboutDescription p {
  word-wrap: break-word;
}

.loveBridge {
}

footer {
  background-color: #FFF;
  color: #C5C1C0;
  letter-spacing: 1px;
  margin-top: -20px;
  padding: 10px;
  font-family: 'Space Mono', sans-serif;
  text-transform: uppercase;
  text-align: left;
  font-size: 90%;
}

/* color schemes
navy blue #18121E
gunmetal #233237
rusty red #984B43
Warm Yellow #EAC67A

or

screen #C5C1C0
steel #0A1612
denim #1A2930
marigold #F7CE3E

or

fresh #F7F5E6
vermillion #333A56
sunshine #52658F
clean #E8E8E8
*/
