body {
    margin: 0;
    width: 100vw;
    font-family: 'Raleway';
}

header {
    background-color: transparent;
    height: 120px;
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.changeColor {
    background: white;
}

a {
    text-decoration: none !important;
    color: white !important;
}
a:visited {
    color: white !important;
}

#logo {
    width: 60px;
    padding: 40px;
    -webkit-transition: -webkit-transform 1s ease-in-out;
            transition:         transform 1s ease-in-out;
}

#logo:hover {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

#logo:active {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

#nav-links {
    font-size: .95rem;
    margin: 0;
    padding-top: 15px;
    float: right;
    list-style: none;
    text-align: right;
}

.nav-link {
    display: block;
    line-height: 2;
    text-transform: uppercase;
    padding-right: 30px;
    -webkit-transition: -webkit-transform .2s ease-in-out;
            transition:         transform .2s ease-in-out;
}

.nav-link:hover {
    color: #d9b324;
    transform: translateX(-10px);
}

.nav-link:active {
    color: dodgerblue;
}

.section-header {
    margin: 0;
    padding: 25px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: #5f656d
}

#home {
    background-image: url("../assets/dark_paris.png");
    background-size: 75%;
    background-position: -50% 40%;
    background-repeat: no-repeat;
    background-color: #1B242F;
    color: white;
    display: flex;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hello {
    width: 50%;
    padding: 0 10px 0 10px;
    font-weight: 100;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .6rem;
    line-height: 1.3em;
    text-align: center;
}

#max {
    color: #d9b324;
}

#max:hover {
    font-weight: bold;
}

#max:active {
    color: dodgerblue;
}

#work-button {
    background-color: transparent;
    font-size: 1.8rem;
    font-weight: lighter;
    color: white;
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    margin-bottom: 40px;
}

#work-button:hover {
    background-color: dodgerblue;
    border: dodgerblue solid 2px;
}

#portfolio {
    background-color: darkgrey;
}

#gallery {
    text-align: center;
    margin: 0 auto 0 auto;
    max-width: 1500px;
}

#gallery-container {
    padding: 40px;
}

.gallery-item {
    background-color: #1B242F;
    -webkit-box-shadow: -4px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 2px 5px 0px rgba(0,0,0,0.75);
    padding: 60px;
    display: inline-block;
    width: 250px;
    margin: 10px;
}

.gallery-item .gallery-inner {
    visibility: hidden;
}

.gallery-item:hover .gallery-inner {
    visibility: visible;
}

.gallery-item-title {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 5px;
}

.gallery-item-description {
    font-style: italic;
    color: #d9b324;
    font-size: .8rem;
    padding-bottom: 40px;
}

.gallery-button {
    margin: 5px 0 10px 0;
    font-size: .8rem;
    padding: 5px;
    font-style: italic;
    color: white;
    border: white solid 2px;
    background-color: transparent;
}

.gallery-button:hover {
    background-color: dodgerblue;
    border: dodgerblue solid 2px;
}

#project-1 {
    background-image: url("../assets/crafted_sound2.png");
    background-size: cover;
}

#project-1:hover {
    background-image: none;
}

#project-2 {
    background-image: url("../assets/clever_conversations.jpg");
    background-size: cover;
}

#project-2:hover {
    background-image: none;
}

#project-3 {
    background-image: url("../assets/nudge.jpg");
    background-size: cover;
}

#project-3:hover {
    background-image: none;
}

#project-4 {
    background-image: url("../assets/weather.jpg");
    background-size: cover;
}

#project-4:hover {
    background-image: none;
}

#project-5 {
    background-image: url("../assets/bookcase.jpg");
    background-size: cover;
}

#project-5:hover {
    background-image: none;
}

#project-6 {
    background-image: url("../assets/tictactoe.jpg");
    background-size: cover;
}

#project-6:hover {
    background-image: none;
}

#about {
    background-color: lightgrey;
}

#images-container {
    display: inline-block;
    margin-left: 20px;
}

.about-images {
    width: 20%;
    min-width: 200px;
    padding-bottom: 20px;
}

#contact {
    background-color: #313943;
}

.contact-form {
    color: #d1d3d5;
    text-align: center;
    padding-bottom: 20px;
    height: 600px;
}

#form-tagline {
    color: #d9b324;
    padding: 40px;
}

.form-line {
    display: block;
    margin: 0 auto 15px auto;
    width: 60%;
    min-width: 350px;
    line-height: 40px;
    font-size: 1.1rem;
    background-color: #1b242f;
    border: none;
    padding: 5px 10px 5px 10px;
    color: white;
}

#submit-button {
    margin: 5px 0 10px 0;
    line-height: 40px;
    font-size: 1.1rem;
    padding: 0 25px 0 25px;
    text-transform: uppercase;
    color: white;
    border: white solid 2px;
    background-color: inherit;
}

#submit-button:hover {
    background-color: dodgerblue;
    border: dodgerblue solid 2px;
}

footer {
    background-color: #1B242F;
    color: white;
    height: 50px;
}

#author {
    margin: 0;
    line-height: 50px;
    padding-left: 20px;
    display: inline;
    color: grey;
    text-transform: uppercase;
}

#social-links {
    margin: 0;
    font-size: .8rem;
    float: right;
    list-style: none;
}

.social-link {
    display: inline;
    text-transform: uppercase;
    padding-right: 20px;
    line-height: 50px;
}
