# {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid div {
  background-color: rgba(0, 95, 107, 0.8);
  padding: 0.2em;
  color: #fff;
}

.grid .header {
  background-color: black;
}

.navLogo {
  padding: 10px;
}

.grid .Intro {
  background: url("../assets/parisTunnel.jpeg");
}

.Intro {
  height: 500px;
}

.About {
  height: 500px;
}

.grid .Portfolio {
  background-color: black;
}

.Portfolio {
  height: 500px;
}

.Contact {
  height: 500px;
}

.grid .Footer {
  background-color: #FFF;
  color: #C5C1C0;
  letter-spacing: 1px;
  font-family: 'Space Mono', sans-serif;
  text-transform: uppercase;
  font-size: 90%;
}
